body{
  background: linear-gradient(167.96deg, #1C1D1F 0%, #1B2125 100%);
}

p{
  color: #E5F8FF; 
}

.progress-container {
  padding: 32px;
  height: 100vh;
}

.bar {
  margin-top: 18px;
  margin-bottom: 18px;
}